:root {
    --brand-color:#212121;
    --secondary-color:#757575
}
body {
font-family: 'Roboto', sans-serif; color: var(--brand-color);
}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
    color: #000000;
}
.logoweb {
   color: #2196F3; 
}
.nav-list-item {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1,1;
letter-spacing: 0.02em;
color: var(--brand-color);
}
.nav-list-item-link {
    color: var(--brand-color);
    text-decoration: none;
}
.nav-list-item-link:hover, .nav-list-item-link:focus {
    color: #2196F3;
    text-decoration: none;
}
.contact-links {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 14px;
line-height: 1.1;
letter-spacing: 0.02em;
color: var(--secondary-color);
text-decoration: none;
}
.contact-links:hover, .contact-links:focus {
    color: #2196F3;
    text-decoration: none;
}
.button-list-item {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
text-align: center;
letter-spacing: 0.03em;
color: var(--brand-color);
background-color: #F5F4FA
}
.button-list-item:hover, .button-list-item:focus {
color: #FFFFFF;
background-color: #2196F3
}
